main {
  align-items: center;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  padding: 4em 0;
}

.state {
  margin: 20px 0;
  text-align: center;
  font-size: 1.25em;
  font-weight: 700;
}

.state--error {
  color: rgb(255, 0, 0);
}
